services:
  procurely-analytics-api:
    build: 
      context: ./services/analytics-service/src
      dockerfile: Dockerfile
    ports:
        - "5001:8080"
    environment:
      - DOTNETCORE_ENVIRONMENT=Development

  procurely-auth-api:
    build: 
      context: ./services/auth-service/src
      dockerfile: Dockerfile
    ports:
        - "5002:8080"
    environment:
      - DOTNETCORE_ENVIRONMENT=Development

  procurely-company-api:
    build: 
      context: ./services/company-service/src
      dockerfile: Dockerfile
    ports:
        - "5003:8080"
    environment:
      - DOTNETCORE_ENVIRONMENT=Development

  procurely-notification-api:
    build: 
      context: ./services/notification-service/src
      dockerfile: Dockerfile
    ports:
        - "5004:8080"
    environment:
      - DOTNETCORE_ENVIRONMENT=Development

  procurely-order-api:
    build: 
      context: ./services/order-service/src
      dockerfile: Dockerfile
    ports:
        - "5005:8080"
    environment:
      - DOTNETCORE_ENVIRONMENT=Development

  procurely-pricing-api:
    build: 
      context: ./services/pricing-engine-service/src
      dockerfile: Dockerfile
    ports:
        - "5006:8080"
    environment:
      - DOTNETCORE_ENVIRONMENT=Development

  procurely-quote-api:
    build: 
      context: ./services/quote-service/src
      dockerfile: Dockerfile
    ports:
        - "5007:8080"
    environment:
    - DOTNETCORE_ENVIRONMENT=Development

  procurely-rfq-api:
    build: 
      context: ./services/rfq-service/src
      dockerfile: Dockerfile
    ports:
        - "5008:8080"
    environment:
    - DOTNETCORE_ENVIRONMENT=Development

  procurely-vendor-api:
    build: 
      context: ./services/vendor-service/src
      dockerfile: Dockerfile
    ports:
        - "5009:8080"
    environment:
    - DOTNETCORE_ENVIRONMENT=Development